/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .skillWrapper{
        width: 500px;
        height: 400px
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .skillWrapper{
        width: 500px;
        height: 400px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .skillWrapper{
        width: 600px;
        height: 400px
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skillWrapper{
        width: 600px;
        height: 400px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .skillWrapper{
        width: 600px;
        height: 400px
    }
}