svg {
    background: #eee;
    overflow: visible;
}

.lineWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    margin-bottom: 5px;
    width: 100px;
}
